@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3>Wellcome</h3>
            </div>
            <div class="card-body">
                @if (Session["FullName"] != null)
                {
                    <h4>Name: @Session["FullName"].ToString()</h4>
                    <h4>Email: @Session["Email"].ToString()</h4>
                    <a href="@Url.Action("Logout","Home")" class="btn btn-danger">Logout</a>
                }
            </div>
        </div>

    </div>
</div>
